        <div class="mt-3 ms-3 me-3 mb-3">
            <h1>Cervejas</h1>
        </div>
        

        <div class="container mt-5 ms-5 me-5 mb-5">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="assets/produtos/antarctica_lata.jpeg" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Antarctica</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/produtos/brahma_lata.jpg" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Brahma</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div><div class="col">
                    <div class="card">
                        <img src="assets/produtos/corona_lata.png" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Corona</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/produtos/original_lata.jpeg" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Original</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/produtos/skol_lata.png" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Skol</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/produtos/stella_artois_lata.jpeg" class="card-img-top product_image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Stella Artois</h5>
                            <p class="card-text">R$ 3.50</p>
                            <a href="#" class="btn btn-primary">Adicionar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>