
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 20px;
  background-color: #FFD700;
}
.form-signup .checkbox {
  font-weight: 400;
}

.btn-color {
  color: #FCFCFC;
  background-color: #8E4162;
}