<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets//carousel/men-g9cfd39fc3_1920.jpg" class="d-block w-100 carousel_image1" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text_special_font">Garantimos sua cerveja gelada nas festas</h5>
                <!-- <p>Some representative placeholder content for the first slide.</p> -->
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets//carousel/oh-no-game-can-not-finish-so-shocked-emotional-young-people-dissatisfied-with-unfair-judgement-during-football-match-point-straightly-at-screen-watch-tournament-express-anxiety-or-alarm.jpg" class="d-block w-100 carousel_image2" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text_special_font">E junto dos amigos no momentos mais marcantes</h5>
                <!-- <p>Some representative placeholder content for the second slide.</p> -->
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class = "content">
    <h1 class="text-center text_special_font_black pt-5">Sobre a Só Geladas Delivery</h1>

    <div class="text-center text_secondary_content ps-5 pe-5 pb-5">

        <p>
            Localizada no centro de São Paulo, a Só Geladas Delivery traz para o mercado o que há de melhor no serviço de entregas de cervejas. Fundada em 2021, a Só Geladas Delivery busca o destaque na cidade e atrai novos clientes a cada dia.
        </p>

        <p>
            O nosso objetivo é: <strong><em>"Garantir que sua festa seja a melhor de todas"</em></strong>.
        </p>

        <p>
            Oferecemos a entrega mais rápida da cidade e sua cerveja gelada. O nosso atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.
        </p>

    </div>
</div>

<div class = "container pt-5 ps-5 pe-5 pb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="assets//cards/cans-with-cold-drink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nossos produtos</h5>
                    <p class="card-text">Venha ver nossas opções de cervejas.</p>
                    <a href="products_page.html" class="btn btn-primary">Prosseguir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets//cards/people-emotions-lifestyle-leisure-and-beauty-concept-surprised-and-happy-asian-girl-receive-great-news-over-phone-looking-at-mobile-display-with-amazed-smile-standing-yellow-background-rejoicing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Novidades</h5>
                    <p class="card-text">Ultimas notícias sobre a Só Geladas Delivery.</p>
                    <a href="#" class="btn btn-primary">Prosseguir</a>
                </div>
            </div>
        </div>
      </div>
</div>


