        <div class="mt-3 ms-3 me-3 mb-3">
            <h1>Confira e finalize seu pedido</h1>
        </div>

        <div class="container container mt-5 mb-5">
            <div class="row">
                <div class="col-10">
                    <div class="border border-2 rounded pt-3 pe-3 ps-3 pb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col"> 
                                    <h3> Endereço de entrega </h3>
                                    <p>NOME</p>
                                    <p>RUA E NUMERO</p>
                                    <p>COMPLEMENTO</p>
                                    <p>CIDADE E ESTADO</p>
                                    <p>CEP</p>
                                </div>
                                <div class="col">
                                    <h3> Forma de pagamento </h3>
                                    <hr>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        crédito
                                      </label>
                                      <form action="">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col">
                                              <label>nome do titular</label>
                                            </div>
                                            <div class="col">
                                              <input type="text" placeholder="nome do titular" required> <br/>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="container">
                                          <div class="row">
                                            <div class="col">
                                              <label>numero do cartão</label>
                                            </div>
                                            <div class="col">
                                              <input type="text" placeholder="numero do cartão" required> <br/>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="container">
                                          <div class="row">
                                            <div class="col">
                                              <label>data de expiração</label>
                                            </div>
                                            <div class="col">
                                              <input type="date" placeholder="data de expiração" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="container">
                                          <div class="row">
                                            <div class="col">
                                              <label>codigo de segurança (CVV)</label>
                                            </div>
                                            <div class="col">
                                              <input type="text" placeholder="codigo de segurança" required>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        pix
                                      </label>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        Boleto - Vencimento em 1 dia útil. A data de entrega será alterada devido ao tempo de processamento do Boleto.
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="border border-2 rounded pt-3 ps-3 pe-3 pb-3">
                        <p class="text-center">Total: R$ 99.99</p> 
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-sm btn-color" type="submit">Confirmar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
